@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor00: #1A0337;
    --cor01: #0C011A;
    --cor02: #500191;
    --cor03: #A480CF;
    --cor04: #F71735;
    --cor05: #D81159;
    --cor04: #41EAD4;
    --cor05: #FDFFFC;
    --cor06: #6C429F;
    --font01: 'Anek Devanagari', sans-serif;
    --font02: 'Roboto', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: none;

}

body{
    background-color: #170231;
    font-family: var(--font02);
    color: white;
}




body, html{
    height: 90%;
}


menu{
    display: none;
}

#burguer{
    display: none;
}


.cursor{
    z-index: 1;
    position: fixed;
    /* background-color: #f3304a33; */
    background-color: none;
    border: 2px solid white;
    transform: translate(-50%, -50%);
    padding: 18px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #8c00ff;
}


.cursor:before{
    content: '';
    border-radius: 50%;
    position: absolute;
    background-image: radial-gradient(circle, rgb(140, 0, 255) 0%, rgba(140,0,255,0.99999999) 66%, rgba(120,14,207,0) 75%);
    width: 70px;
    height: 70px;
    opacity: 0.10;
    transform: translate(-50%, -50%);
}



nav{
    display: flex;
    margin-top: 7px;
    width: 100%;
    justify-content: space-around;

    #fog{
        width: 70px;
        transition: 0.5s;
    }

    h1{
        font-weight: 300;
        font-size: 1.5em;
    }

    #primeiro{
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
    }

    #segundo{
        display: flex;
        gap: 80px;
        font-family: var(--font02);
        font-weight: 300px;
        justify-content: center;
        align-items: center;
    }

    #cadastro{
        display: inline-block;
        background-color: #460080;
        padding: 10px 20px;
        border-radius: 7px;
        transition: 0.5s;
    }

    .item{
        padding: 9px;
        border-radius: 7px;
        transition: 0.5s;
    }
    
    
    #primeiro:hover{
        transition: 0.5s;
        color: var(--cor04);
        #fog{
            transform: scale(1.1);
            };
    }
    
    .item:hover{
        background-color: #460080;
        transition: 0.5s;
    }

    a{
        color: white;
        text-decoration: none;
    }
    
    #fog:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    
    #cadastro:hover{
        background-color: #6C429F;
        transition: 0.5s;
        
    }
}


main{
    width: 100px;
    height: 100px;
    background-color: white;
}