@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor00: #780ecf;
    --cor01: #500191;
    --cor02: #0C011A;
    --cor03: #F71735;
    --cor04: #41EAD4;
    --cor05: #FDFFFC;
    --font01: 'Anek Devanagari', sans-serif;
    --font02: 'Roboto', sans-serif;
}



body, html{
    height: 90%;
}

body{
    background: url(../imagens/Background.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: var(--font02);
    color: white;

}

menu{
    display: none;
}

nav{
    display: flex;
    margin-top: 7px;
    width: 100%;
    justify-content: space-around;
}


#fog{
    width: 70px;
    transition: 0.5s;
}


nav h1{
    font-weight: 300;
    font-size: 1.5em;
}

#primeiro{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}



#segundo{
    display: flex;
    gap: 80px;
    font-family: var(--font02);
    font-weight: 300px;
    justify-content: center;
    align-items: center;
}




#cadastro{
    display: inline-block;
    background-color: var(--cor01);
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.5s;
}


.item{
    padding: 9px;
    border-radius: 7px;
    transition: 0.5s;
}

#primeiro:hover{
    cursor: pointer;
    transition: 0.5s;
    color: var(--cor04);
    #fog{
        transform: scale(1.1);
        };
}

.item:hover{
    cursor: pointer;
    background-color: var(--cor00);
    /* transform: scale(1.2); */
    transition: 0.5s;
}

#fog:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


#cadastro:hover{
    cursor: pointer;
    background-color: var(--cor00);
    transition: 0.5s;

}


nav a{
    color: white;
    text-decoration: none;
}



main{
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    
}


#principal{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 7%;
}


#uni{
    color: var(--cor03);
}


#exp{
    display: inline-block;
    width: 100px;
    background-color: var(--cor03);
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    padding: 10px;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}

#exp:hover{
    cursor: pointer;
    background-color: #e95f72;
    transition: 0.3s;
}


#subtitulo{
    font-size: 2em;
}



main p{
    font-size: 1.2em;
}


main a{
    color: white;
    display: inline-block;
    text-decoration: none;
}



#burguer{
    display: none;
}