@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --font01: "";
}


body{
    background: url(../imagens/Background.jpg) no-repeat center center fixed;
    background-size: cover;
}