@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 1024px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    
    :root{
        --cor00: #780ecf;
        --cor01: #500191;
        --cor02: #0C011A;
        --cor03: #F71735;
        --cor04: #41EAD4;
        --cor05: #FDFFFC;
        --font01: 'Anek Devanagari', sans-serif;
        --font02: 'Roboto', sans-serif;
    }
    
    
    
    body, html{
        height: 90%;
    }
    
    body{
        background: url(../imagens/Background-Tablet.jpg) no-repeat center center fixed;
        background-size: cover;
        font-family: var(--font02);
        color: white;
    
    }
    
    menu#itens{
        display: none;
    }

    ul#lista{
        display: none;
        visibility: hidden;
        position: absolute;
    }
    
    .teste{
        display: none;
        visibility: hidden;
        position: absolute;
    }


    span#closer{
        display: none;
        visibility: hidden;
        position: absolute;
    }

    span.material-icons{
        display: none;
        visibility: hidden;
        position: absolute;
    }

    div.meudeus{
        display: none;
        visibility: hidden;
        position: absolute;
    }


    
    
    nav{
        display: flex;
        gap: 60px;
        justify-content: space-around;
        align-items: center;
        margin-top: 7px;
        width: 100%;
    }
    
    nav h1{
        font-weight: 300;
        font-size: 1.5em;
    }
    
    #fog{
        width: 55px;
        transition: 0.5s;
    }
    
    
    
    #primeiro{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3%;
        transition: 0.5s;
    }
    
    
    
    #segundo{
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font02);
        font-weight: 300px;
    }
    
    
    
    
    #cadastro{
        display: inline-block;
        background-color: var(--cor01);
        padding: 10px 20px;
        border-radius: 7px;
        transition: 0.5s;
    }
    
    
    .item{
        padding: 9px;
        border-radius: 7px;
        transition: 0.5s;
    }
    
    #primeiro:hover{
        cursor: none;
        transition: 0.5s;
        color: var(--cor04);
        #fog{
            transform: scale(1.1);
            };
    }
    
    .item:hover{
        cursor: none;
        background-color: var(--cor00);
        /* transform: scale(1.2); */
        transition: 0.5s;
    }
    
    #fog:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    
    #cadastro:hover{
        cursor: none;
        background-color: var(--cor00);
        transition: 0.5s;
    
    }




    main{
        display: flex;
        align-items: center;
        height: 100%;
        width: 70%;
        
    }
    
    
    #principal{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 7%;
    }
    
    
    #uni{
        color: var(--cor03);
    }
    
    
    #exp{
        display: inline-block;
        width: 100px;
        background-color: var(--cor03);
        padding: 5px;
        text-align: center;
        border-radius: 7px;
        padding: 10px;
        transition: 0.3s;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
    }
    
    #exp:hover{
        cursor: none;
        background-color: #e95f72;
        transition: 0.3s;
    }
    
    
    #subtitulo{
        font-size: 2em;
    }
    
    
    
    main p{
        font-size: 1.2em;
    }
    
    
    main a{
        color: white;
        display: inline-block;
        text-decoration: none;
    }
    
    
    
    #burguer{
        display: none;
    }
}