@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --cor00: #1A0337;
  --cor01: #0C011A;
  --cor02: #500191;
  --cor03: #A480CF;
  --cor04: #F71735;
  --cor05: #D81159;
  --cor04: #41EAD4;
  --cor05: #FDFFFC;
  --cor06: #6C429F;
  --font01: "Anek Devanagari", sans-serif;
  --font02: "Roboto", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: none;
}

div#bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
  height: 110px;
}

body {
  background-color: #4b1d34;
  font-family: var(--font02);
  color: white;
}

nav {
  position: relative;
}

body, html {
  height: 90%;
}

menu {
  display: none;
}

#burguer {
  display: none;
}

.cursor {
  z-index: 1;
  position: fixed;
  background-color: none;
  border: 2px solid white;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #8c00ff;
}

.cursor:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  background-image: radial-gradient(circle, rgb(216, 17, 89) 0%, rgb(216, 17, 89) 39%, rgba(216, 17, 89, 0.2651435574) 75%);
  width: 50px;
  height: 50px;
  opacity: 0.1;
  transform: translate(-50%, -50%);
}

nav {
  display: flex;
  padding-top: 7px;
  width: 100%;
  justify-content: space-around;
}
nav #fog {
  width: 70px;
  transition: 0.5s;
}
nav h1 {
  font-weight: 300;
  font-size: 1.5em;
}
nav #primeiro {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
nav #segundo {
  display: flex;
  gap: 80px;
  font-family: var(--font02);
  font-weight: 300px;
  justify-content: center;
  align-items: center;
}
nav #cadastro {
  display: inline-block;
  background-color: #97034d;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.5s;
}
nav .item {
  padding: 9px;
  border-radius: 7px;
  transition: 0.5s;
}
nav #primeiro:hover {
  transition: 0.5s;
  color: var(--cor04);
}
nav #primeiro:hover #fog {
  transform: scale(1.1);
}
nav .item:hover {
  background-color: #97034d;
  transition: 0.5s;
}
nav a {
  color: white;
  text-decoration: none;
}
nav #fog:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
nav #cadastro:hover {
  background-color: #c20564;
  transition: 0.5s;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

div#imagem {
  background: url(../imagens/galaxy.jpg) no-repeat fixed right;
  background-size: cover;
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px 0px 0px 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

article {
  display: flex;
  margin-top: 2%;
  width: 70%;
  height: 500px;
  background-color: white;
  border-radius: 30px 20px 20px 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.329);
}

div#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 50%;
  height: 100%;
}

#titulo-form {
  color: #696969;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

input.dados {
  background-color: #E9E9E9;
  border: none;
  outline: none;
  height: 40px;
  width: 70%;
  border-radius: 6px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.274);
  padding: 5px;
  font-size: 1em;
}

.dados:focus {
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.527);
}

.dados::-moz-placeholder {
  font-size: 0.9em;
}

.dados::placeholder {
  font-size: 0.9em;
}

#pos-btn {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 70%;
}

#login {
  background-color: #D81159;
  color: white;
  border: none;
  padding: 13px 30px;
  border-radius: 6px;
  transition: 0.3s;
  font-size: 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.281);
}

#login:hover {
  background-color: #e22e70;
  transition: 0.3s;
}

#par {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 70%;
}

p#msg {
  color: #696969;
}

#dec {
  color: #D81159;
}

#entrar {
  color: #D81159;
  text-decoration: none;
  transition: 1s;
}

#entrar:hover {
  color: #ff005d;
  text-decoration: underline;
  transition: 1s;
}

#pos-aceito {
  display: flex;
  align-items: center;
  width: 70%;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #b8b8b8;
  transition: 0.2s;
  border-radius: 6px;
  position: absolute;
}

input[type=checkbox]:checked {
  background-color: #D81159;
  transition: 0.3s;
  animation: anima 0.3s normal;
}

.material-icons {
  position: relative;
  color: white;
  margin-top: 4px;
  margin-left: 0.5px;
  transition: 0.3s;
  animation: testando 0.3s normal;
}

#yas {
  transition: 0.3s;
  animation: testando 0.3s normal;
}

.anima {
  animation: anima 0.3s normal;
  transition: 0.3s;
}

@keyframes testando {
  0% {
    /* transform: scale(1.0); */
    margin-top: 4px;
  }
  50% {
    /* transform: scale(1.2); */
    margin-top: 0px;
  }
  100% {
    /* transform: scale(1.0); */
    margin-top: 4px;
  }
}
@keyframes anima {
  0% {
    /* transform: scale(1.0); */
    margin-bottom: 0;
  }
  50% {
    /* transform: scale(1.2); */
    margin-bottom: 3px;
  }
  100% {
    /* transform: scale(1.0); */
    margin-bottom: 0px;
  }
}
#text {
  margin-left: 3px;
}

#aceito {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #696969;
}/*# sourceMappingURL=cadastro.css.map */